/* form */
#rec224390905 .t696__content {
    padding: 0px 0px 0px;
    float: left;
    margin-top: -60px;
    margin-bottom: 96px;
    position: relative;
    left: -97px;
    margin-left: 0% !important;
    padding-left: 0% !important;}
    
#rec224745455 .t696__content {
    padding: 0px 0px 0px;
    float: left;
    margin-top: -60px;
    margin-bottom: 96px;
    position: relative;
    left: -97px;
    margin-left: 0% !important;
    padding-left: 0% !important;}
    
 /* form success color*/

 #rec224390905 .t-form__successbox {
        background: #66685f !important;
    }
    
#rec224745455 .t-form__successbox {
        background: #66685f !important;
    }

/* language start*/
#rec205257282 .englangEN a{color: #e3e6e5  !important;}
#rec205257282 .ualangEN a{color: #c7ccd3 !important;}

#rec209487342 .englangEN a{color: #e3e6e5  !important;}
#rec209487342 .ualangEN a{color: #c7ccd3 !important;}
/* language  end */

#rec209487401 a {text-decoration:none;}
#rec209487401 a:hover {text-decoration:none;}

#rec205008155 a {text-decoration:none;}
#rec205008155 a:hover {text-decoration:none;}

.t-uptitle_sm {
    display: block !important;
    text-indent: -9999px !important;
    width: 100% !important;
    height: 186px !important;
    background: url(https://elasticbeanstalk-us-east-2-909325391478.s3.us-east-2.amazonaws.com/sola-560.svg) !important;
    background-repeat: repeat;
    background-size: auto;
    background-size: 100% 186px !important;
    background-repeat: no-repeat !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
.t-descr_xs {font-size: 14px !important;line-height: 1.45;}}

@media (min-width: 310px) and (max-width: 960px) {
    
#rec224390905 .t696__content {
    padding: 0px 0px 0px;
    float: left;
    margin-top: 0px;
    margin-bottom: 36px;
    position: relative;
    left: 0;
    margin-left: 0% !important;
    padding-left: 0% !important;
    }  
    
#rec224745455 .t696__content {
    padding: 0px 0px 0px;
    float: left;
    margin-top: 0px;
    margin-bottom: 36px;
    position: relative;
    left: 0;
    margin-left: 0% !important;
    padding-left: 0% !important;
    }  
    
.t-uptitle_sm {width: 70% !important;margin-top: 0px !important;margin-bottom: -20px !important;padding-bottom: 0px !important;}

.t450__burger > img { width: 24px !important;}

.t-width_1000 {height: 1110px !important;}

#rec200938055 .t396__filter {height: 1070px !important;}
.t396__filter {height: 1070px !important;}

.t450__menu_show {overflow: scroll !important;}
#nav200937912 .t450__menu_show {overflow: scroll !important;}

.t001__title {padding-top:4px !important;padding-bottom:20px !important;font-size: 28px !important;}
.t-descr_xl {padding-top: 32px !important;font-size: 18px !important;}


}



.t001__title {padding-top:4px !important; padding-bottom:20px !important;}

.t-slds__arrow-withbg {border-radius: 0px !important;}

.t-slds__caption_wrapper {/* border-top: 3px solid #eee !important; */text-align: center;margin-top: -10px !important;}

.t-form__submit {float: left !important;margin-top: 16px!important;}

.t700__contentbox {display: none !important;}

.t-input {font-size: 22px !important;font-weigth:light !important;}

.t-slds__bullet_body {border-radius: 0px !important;}

.t-input-phonemask__select-flag {background-color: #ffffff; -webkit-box-shadow: 0 0 0px rgba(0,0,0,0) !important; box-shadow: 0 0 0px rgba(0,0,0,0) !important;}

.t-input-group {margin-bottom: 45px !important;}

#allrecords a {color: #66685f;text-decoration: none;}
#allrecords a:hover {color: #66685f;text-decoration: underline;}

.tn_img_1591699740704:hover {position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red !important; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */}

.tn_img_1591699740704 a:hover {position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red !important; /* Black background with opacity */
  color: red !important;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */}




.t450__container {padding: 0px 0px 0px !important;}

.t450__burger_container {right: 9% !important;}


.t450__burger_cirqle { border-radius: 0 !important; }
.t450__close {top: 4% !important;right: 9% !important;}

.t450__burger {top: 40% !important;}
.t450__burger_bg {background-color: #fbfbfb !important; opacity: 0% !important;}

.t450__burger > img:hover {-webkit-transform: rotateZ(90deg) !important;-ms-transform: rotateZ(90deg) !important;transform: rotateZ(90deg) !important;}

.t450__close_icon {
    width: 28px !important;
    height: 28px !important;
    margin-top: 50% !important;
    margin-left: -9% !important;

}

.t450__close {
    top: 2.2% !important;
    right: 9% !important;
}

.t450__close_icon {
     width: 34px !important;
    height: 34px !important;
    margin-top: 5% !important;
    margin-left: -9% !important;
    background: #F7F7F7 !important;
}

t450__close {
    opacity: 0.5;}

.t450_opened .t450__close_icon span:nth-child(2) { background-color: #989A91 !important;}
.t450_opened .t450__close_icon span:nth-child(3) { background-color: #989A91 !important;}

.t450__close_icon span:hover {background-color: red !important;}

.t450_opened span:hover { background-color: red !important;}

.t450__burger_container.t450__small {top: 0.6% !important;}


.t001__descr {padding-top: 52px !important;}
.t-descr_xl {padding-top: 32px !important;}







/* NEW MENU*/

*{box-sizing:-border-box;}
body{
  background:#ffffff;
    font-family:'TTFirsNeue',Arial,sans-serif;
  margin:0;
  padding:0;
  height:100%;
}
header{
  background;
  background-size:cover;
    font-family:'TTFirsNeue',Arial,sans-serif;
  width:100%;
  height:400px;
  border-top:5px solid #000;
}

.overlay{
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.3);
  padding-top:30px;
}

#navigation{
 position: relative;
}

#navbar{
  width:100%;
  height:64px;
  background:#FBFBFB;
  position: absolute;
  top: 0;
  z-index: 9999;
}

#navbar ul{
  list-style:none;
  margin:0 auto;
  display:block;
  width:auto;
}
#navbar left{
  float:left;
  width:50%;
}


#navbar .center{
width: 188px;
height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: -13px;
}

#navbar .right{
  float:right;
  width:16%;
}



#navbar ul li a{
  float:left;
  display: inline-block;
  margin: 20px 13px;
  outline: none;
  color: #404040;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  text-align:center;
}

#navbar.fixed{
  position:fixed;
  top:0;
  background:#FBFBFB;
}
.container{
  width:90%;
  max-width:700px;
  margin:0 auto;
  display:block;
}
.content{
  width:100%;
  float:left;
  margin-top: 25px;
  margin-bottom: 30px;
}
.content p{
  font-family:'TTFirsNeue',Arial,sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.englang {margin-left: 9%; color: #c7cac9 !important;}
.englang a{color: #c7cac9 !important;}
.ualang a{color: #e3e6e5 !important;}
#navbar.englang {margin-left: 9%; color: #c7cac9 !important;}

.t-cover__arrow {bottom: 5% !important;right: 0;left: 0;text-align: center;}


@media (min-width: 310px) and (max-width: 960px) {
ul.leftEN {
    position: relative;
    z-index: 2;
}

#navbar{
  width:100%;
  height: 56px !important;}


#navbar ul li a{
  margin: 20px 9px !important;
  padding: 0px 0px 0px 0px !important;
}

#navbar .right {
    float: right;
    width: 35% !important;
}


#navbar .right img{width: 90% !important;margin-top: -2% !important;}

#navbar .center img{width: 60% !important;margin-top: 5% !important;}

.englang {
    margin-left: 20px !important;
    color: #c7cac9 !important;
}

/* NEW MENU END*/

.t-slds__caption_wrapper {

    text-align: left !important;
    margin-top: -10px !important;}

}


@media (min-width: 310px) and (max-width: 369px) {

.t-name_xs {
width: 94% !important;
margin-left: 3%;
margin-right: 3%;} }

@media (min-width: 370px) and (max-width: 640px) {

.t-name_xs {width: 84% !important;
margin-left: 8%;
margin-right: 8%;}

 .t-slds__bullet {padding: 6px !important;}


}




/* NEW MENU ENGLAND*/

*{box-sizing:-border-box;}
body{
  background:#ffffff;
    font-family:'TTFirsNeue',Arial,sans-serif;
  margin:0;
  padding:0;
  height:100%;
}
header{
  background;
  background-size:cover;
    font-family:'TTFirsNeue',Arial,sans-serif;
  width:100%;
  height:400px;
  border-top:5px solid #000;
}

.overlay{
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.3);
  padding-top:30px;
}

#navigationEN{
 position: relative;
}

#navbarEN{
  width:100%;
  height:64px;
  background:#FBFBFB;
  position: absolute;
  top: 0;
  z-index: 9999;
}

#navbarEN ul{
  list-style:none;
  margin:0 auto;
  display:block;
  width:auto;
  padding-left: 0px;
}
#navbarEN leftEN{
  float:left;
  width:50%;
}


#navbarEN .centerEN{
width: 188px;
height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: -13px;
        display: flex;
}

#navbarEN .rightEN{
  float:right;
  width:16%;
}



#navbarEN ul li a{
  float:left;
  display: inline-block;
  margin: 20px 13px;
  outline: none;
  color: #404040;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  text-align:center;
}

#navbarEN.fixed{
  position:fixed;
  top:0;
  background:#FBFBFB;
}
.container{
  width:90%;
  max-width:700px;
  margin:0 auto;
  display:block;
}
.content{
  width:100%;
  float:left;
  margin-top: 25px;
  margin-bottom: 30px;
}
.content p{
  font-family:'TTFirsNeue',Arial,sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.englangEN {margin-left: 9%; color: #c7cac9 !important;}
.englangEN a{color: #e3e6e5 !important;}
.ualangEN a{color: #c7cac9 !important;}
#navbarEN.englangEN {margin-left: 9%; color: #c7cac9 !important;}

.t-cover__arrow {bottom: 5% !important;right: 0;left: 0;text-align: center;}


@media (min-width: 310px) and (max-width: 960px) {

#navbarEN{
  width:100%;
  height: 56px !important;}


#navbarEN ul li a{
  margin: 20px 4px 0px 3px !important;
  padding: 0px 0px 0px 0px !important;
}

#navbarEN .rightEN {
    float: right;
    width: 35% !important;
}


#navbarEN .rightEN img{width: 90% !important;margin-top: -2% !important;}

#navbarEN .centerEN img{width: 60% !important;margin-top: 5% !important;}

.englangEN {
    margin-left: 20px !important;
    color: #c7cac9 !important;
}

.englangEN {
    margin-left: 20px !important;
    color: #c7cac9 !important;
    z-index: 999999;
}

.englangEN {
z-index: 999999;
}



/* NEW MENU UA*/

*{box-sizing:-border-box;}
body{
  background:#ffffff;
    font-family:'TTFirsNeue',Arial,sans-serif;
  margin:0;
  padding:0;
  height:100%;
}
header{
  background;
  background-size:cover;
    font-family:'TTFirsNeue',Arial,sans-serif;
  width:100%;
  height:400px;
  border-top:5px solid #000;
}

.overlay{
  width:100%;
  height:100%;
  background:rgba(255,255,255,0.3);
  padding-top:30px;
}

#navigationUA{
 position: relative;
}

#navbarUA{
  width:100%;
  height:64px;
  background:#FBFBFB;
  position: absolute;
  top: 0;
  z-index: 9999;
}

#navbarUA ul{
  list-style:none;
  margin:0 auto;
  display:block;
  width:auto;
}
#navbarUA leftUA{
  float:left;
  width:50%;
}


#navbarUA .centerUA{
width: 188px;
height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: -13px;
}

#navbarUA .rightUA{
  float:right;
  width:16%;
}



#navbarUA ul li a{
  float:left;
  display: inline-block;
  margin: 20px 13px;
  outline: none;
  color: #404040;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  text-align:center;
}

#navbarUA.fixed{
  position:fixed;
  top:0;
  background:#FBFBFB;
}
.container{
  width:90%;
  max-width:700px;
  margin:0 auto;
  display:block;
}
.content{
  width:100%;
  float:left;
  margin-top: 25px;
  margin-bottom: 30px;
}
.content p{
  font-family:'TTFirsNeue',Arial,sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.englangUA {margin-left: 9%; color: #c7cac9 !important;}
.englangUA a{color: #e3e6e5 !important;}
.ualangUA a{color: #c7cac9 !important;}
#navbarUA.englangUA {margin-left: 9%; color: #c7cac9 !important;}

.t-cover__arrow {bottom: 5% !important;right: 0;left: 0;text-align: center;}


@media (min-width: 310px) and (max-width: 960px) {

#navbarUA{
  width:100%;
  height: 56px !important;}


#navbarUA ul li a{
  margin: 20px 9px !important;
  padding: 0px 0px 0px 0px !important;
}

#navbarUA .rightUA {
    float: right;
    width: 35% !important;
}


#navbarUA .rightUA img{width: 90% !important;margin-top: -2% !important;}

#navbarUA .centerUA img{width: 60% !important;margin-top: 5% !important;}

.englangUA {
    margin-left: 20px !important;
    color: #c7cac9 !important;
}


#rec205008155 .tn-elem[data-elem-id="1593678875312"] a {color: #66685f;text-decoration: none !important;}
#rec205008155 .tn-elem[data-elem-id="1593678875312"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}

#rec205008155 .tn-elem[data-elem-id="1591880450163"] a {color: #66685f;text-decoration: none !important;}
#rec205008155 .tn-elem[data-elem-id="1591880450163"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}

#rec205008155 .tn-elem[data-elem-id="1593751060456"] a {color: #66685f;text-decoration: none !important;}
#rec205008155 .tn-elem[data-elem-id="1593751060456"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}

#rec209487401 .tn-elem[data-elem-id="1593678875312"] a {color: #66685f;text-decoration: none !important;}
#rec209487401 .tn-elem[data-elem-id="1593678875312"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}

#rec209487401 .tn-elem[data-elem-id="1591880450163"] a {color: #66685f;text-decoration: none !important;}
#rec209487401 .tn-elem[data-elem-id="1591880450163"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}

#rec209487401 .tn-elem[data-elem-id="1593751060456"] a {color: #66685f;text-decoration: none !important;}
#rec209487401 .tn-elem[data-elem-id="1593751060456"] a:hover {color: #66685f;text-decoration: none !important; transition: 0.5s !important;}
